
US_Hospital_CMS_Satisfaction/Data/cms_hospital_patient_satisfaction_2016.csv
US_Hospital_CMS_Satisfaction/Data/cms_hospital_patient_satisfaction_2017.csv
US_Hospital_CMS_Satisfaction/Data/cms_hospital_patient_satisfaction_2018.csv
US_Hospital_CMS_Satisfaction/Data/cms_hospital_patient_satisfaction_2019.csv
US_Hospital_CMS_Satisfaction/Data/cms_hospital_patient_satisfaction_2020.csv
